root = "."
tmp_dir = "tmp"

[build]
  cmd = "templ generate; go build -o tmp\\main.exe .\\cmd\\server"
  bin = "tmp\\main.exe"
  delay = 1000
  stop_on_error = true
  exclude_dir = ["tmp", "assets\\static\\dist"]
  exclude_regex = ["_templ\\.go"]
  include_ext = ["go", "templ", "css", "ts", "json", "sql", "html"]

[log]
  time = true

[color]
  main = "magenta"
  watcher = "cyan"
  build = "yellow"
  runner = "green"

[misc]
  clean_on_exit = true

[screen]
  clear_on_rebuild = true
