{$KAPPA_DOMAIN} {
    import ai-bots.caddy
    import geoblock.caddy
    reverse_proxy kappalib:1666 {
        lb_try_duration 10s
        lb_try_interval 250ms
    }
}

www.{$KAPPA_DOMAIN} {
    import ai-bots.caddy
    import geoblock.caddy
    reverse_proxy kappalib:1666 {
        lb_try_duration 10s
        lb_try_interval 250ms
    }
}

stats.{$UTILS_DOMAIN} {
	reverse_proxy umami:3000
}

adminer.{$UTILS_DOMAIN} {
    basicauth {
        {$ADMINER_USER} {$ADMINER_HASH}
    }
	reverse_proxy adminer:8080
}

{$OLD_DOMAIN}, www.{$OLD_DOMAIN}, s3.{$OLD_DOMAIN} {
    redir https://kappalib.rip{uri} permanent
}

{$SS_DOMAIN}, www.{$SS_DOMAIN} {
    redir https://kappalib.rip/{$SS_ID} permanent
}
