:root {
    color-scheme: light dark;
    font-family:
        InterVariable,
        Pretendard,
        Noto Sans CJK JP,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        sans-serif;
    font-feature-settings:
        "liga" 1,
        "calt" 1,
        "ss01" 1,
        "cv06" 1;
    --bg-primary: light-dark(#f9f9f9, #131313);
    --primary: light-dark(#1b1b1b, #e7e7e7);
    --secondary: light-dark(#757575, #a5a5a5);
    --tertiary: light-dark(#8e8e8e, #7b7b7b);
    --border: light-dark(#d5d4d5, #2a2b2a);
    --outline: light-dark(#f1f1f1, #272727);
    --accent-primary: #f97316;
    --accent-text: white;
    --accent-border: rgba(249, 115, 22, 0.1);
    --accent-shadow-primary:
        inset 0 0 1.5px 1px rgba(255, 255, 255, 0.14),
        0 1px 2px rgba(0, 0, 0, 0.06);
    --accent-shadow-focus:
        inset 0 0 1.5px 1px rgba(255, 255, 255, 0.14),
        0 0 3px rgba(255, 255, 255, 0.09), 0 2px 2px rgba(0, 0, 0, 0.06);
    --grad-input-prm: light-dark(
        rgba(0, 0, 0, 0.04),
        rgba(255, 255, 255, 0.09)
    );
    --grad-input-foc: light-dark(
        rgba(0, 0, 0, 0.06),
        rgba(255, 255, 255, 0.13)
    );
    --grad-prm: light-dark(rgba(0, 0, 0, 0.04), rgba(255, 255, 255, 0.09));
    --grad-sec: light-dark(rgba(0, 0, 0, 0.02), rgba(255, 255, 255, 0.045));
    --grad-foc: light-dark(rgba(0, 0, 0, 0.06), rgba(255, 255, 255, 0.13));
    --grad-inv-prm: light-dark(rgba(255, 255, 255, 0.14), rgba(0, 0, 0, 0.14));
    --grad-inv-foc: light-dark(rgba(255, 255, 255, 0.22), rgba(0, 0, 0, 0.22));
    --gradient-input-primary: radial-gradient(
        80% 80% at 30% 20%,
        var(--grad-input-prm),
        transparent
    );
    --gradient-input-focus: radial-gradient(
        90% 90% at 30% 20%,
        var(--grad-input-foc),
        transparent
    );
    --gradient-primary: radial-gradient(
        80% 80% at 70% 20%,
        var(--grad-prm),
        transparent
    );
    --gradient-secondary: radial-gradient(
        60% 60% at 60% 20%,
        var(--grad-sec),
        transparent
    );
    --gradient-focus: radial-gradient(
        90% 90% at 70% 20%,
        var(--grad-foc),
        transparent
    );
    --gradient-inverted-primary: radial-gradient(
        80% 80% at 70% 20%,
        var(--grad-inv-prm),
        transparent
    );
    --gradient-inverted-focus: radial-gradient(
        90% 90% at 70% 20%,
        var(--grad-inv-foc),
        transparent
    );
    --shadow-primary:
        inset 0 0 1.5px 1px
            light-dark(rgba(0, 0, 0, 0.03), rgba(255, 255, 255, 0.07)),
        0 1px 2px light-dark(rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.2));
    --shadow-secondary:
        inset 0 0 1.5px 1px
            light-dark(rgba(0, 0, 0, 0.01), rgba(255, 255, 255, 0.03)),
        0 1px 2px light-dark(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.1));
    --shadow-focus:
        inset 0 0 1.5px 1px
            light-dark(rgba(0, 0, 0, 0.03), rgba(255, 255, 255, 0.07)),
        0 0 12px light-dark(rgba(0, 0, 0, 0.04), rgba(255, 255, 255, 0.05)),
        0 2px 4px light-dark(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.2));
    --shadow-inverted-primary:
        inset 0 0 1.5px 1px
            light-dark(rgba(255, 255, 255, 0.14), rgba(0, 0, 0, 0.14)),
        0 1px 2px rgba(0, 0, 0, 0.22);
    --shadow-inverted-focus:
        inset 0 0 1.5px 1px
            light-dark(rgba(255, 255, 255, 0.14), rgba(0, 0, 0, 0.14)),
        0 0 12px light-dark(rgba(255, 255, 255, 0.18), rgba(0, 0, 0, 0.18)),
        0 2px 4px rgba(0, 0, 0, 0.22);
}

:root[data-theme="light"] {
    color-scheme: light;
}

:root[data-theme="dark"] {
    color-scheme: dark;
}
