<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "BreadcrumbList",
      "@id": "{{.Canonical}}#breadcrumb",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Главная",
          "item": "{{.Domain}}"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "{{.Novel.Title}}",
          "item": "{{.Domain}}/{{.Novel.ID}}"
        },
        {
          "@type": "ListItem",
          "position": 3,
          "name": "{{.ChapterTitle}}",
          "item": "{{.Canonical}}"
        }
      ]
    },
    {
      "@type": "Chapter",
      "@id": "{{.Canonical}}#chapter",
      "url": "{{.Canonical}}",
      "name": "{{.ChapterTitle}}",
      "description": "{{.Description}}",
      "position": {{.ChapterNum}},
      "isPartOf": {
        "@type": "Book",
        "@id": "{{.Domain}}/{{.Novel.ID}}#book",
        "name": "{{.Novel.Title}}"
      },
      "inLanguage": "ru-RU",
      "isAccessibleForFree": true,
      "breadcrumb": {"@id": "{{.Canonical}}#breadcrumb"}
    }
  ]
}
</script>
