package views

templ CommentsSection(chapterId string) {
	<div class="comments-section" id="comments-section" data-chapter-id={ chapterId }>
		<div class="comments-header">
			<h3>Комментарии <span class="comments-count">0</span></h3>
		</div>
		<div class="comment-form-wrapper"></div>
		<div class="comments-list"></div>
		<div class="comments-pagination pagination"></div>
	</div>
}
